$main-background-color: #eaebf0;
$table-background-color: #f8f9fb;
$base-background-color: #ffffff;
$active-background-color: #d1fae4;
$inactive-background-color: #fdf3c7;

$main-text-color: #363f47;
$secondary-text-color: #768390;
$light-text-color: #d1d6e3;
$active-text-color: #196b51;
$inactive-text-color: #9a501d;

$border-color: #d1d6e3;
