@use "./reset";

// main page
.page-container {
  width: 100%;
  background: #eaebf0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-stamp {
  font-size: 13px;
  color: #768390;
  margin-left: 10px;
}

.section-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > section {
    padding: 0 30px;
    color: #363f47;
  }
}

.select-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  > p {
    font-weight: 600;
    font-size: 13px;
  }
  > select {
    color: #363f47;
    border: 1px solid #d1d6e3;
    border-radius: 5px;
    padding: 5px;
    &:focus {
      outline: none;
    }
  }
}

// table
.table-wrapper {
  width: 100vw;
  background: #ffffff;
  border: 1px solid #d1d6e3;
  font-size: 15px;
  color: #363f47;

  table {
    width: inherit;
    thead {
      height: 50px;
      background: #f8f9fb;
      border-bottom: 1px solid #d1d6e3;
      font-size: 13px;
      font-weight: 600;
    }
    th,
    td {
      text-align: left;
      vertical-align: middle;
      &:nth-child(1) {
        width: 15%;
      }
      &:nth-child(2) {
        width: 25%;
      }
      &:nth-child(4),
      &:nth-child(6) {
        width: 20%;
      }

      &:nth-child(3),
      &:nth-child(5) {
        width: 10%;
      }
      &:first-child {
        padding-left: 30px;
      }
      &:last-child {
        padding-right: 30px;
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid #d1d6e3;
      }
    }
    td {
      height: 50px;
      color: #768390;
      font-weight: 400;
    }
  }
}

// badge
.badge {
  width: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  background: #d1fae4;
  color: #196b51;
  &.inactive {
    background: #fdf3c7;
    color: #9a501d;
  }
}

// pagination
.page-button-wrapper {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.arrow-button {
  width: 35px;
  height: 35px;
  background: none;
  border: 1px solid #d1d6e3;
  border-radius: 5px;
  font-size: 20px;
  color: #768390;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:disabled {
    color: #d1d6e3;
  }
  &.page-button {
    font-size: 13px;
    &.active {
      color: #363f47;
      background: #ffffff;
    }
  }
}
